body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 77, 88);
    width: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;
}
.container{
    background-color: rgb(0, 0, 0);
    border: 2px solid; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 0 15px darkslategray;
    position: relative;
    min-height: 95vh;
}
.group{
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 15px;
    background-color: rgb(15, 58, 58);
    justify-content: start;
    position: relative;
    height: 88vh;
    overflow-y: scroll;
    scrollbar-width: thin; 
    scrollbar-color: darkslategray transparent; 
}
.title{
    text-align: center;
    border-bottom: 2px solid;
    width: 100%;
    color: white;
}
.time{
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
    font-weight: bold;
    height: fit-content;
    margin: auto;
    letter-spacing: 0.5cap;
    text-decoration: underline;
}
.timer{
    display: flex;
    border: 10px solid rgb(21, 85, 97);
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    height: 100%;
    aspect-ratio: 1/1;
}
control-btn{
    display: flex;
    flex-direction: row;
}
.btn{
    color: white;
    background-color: black;
    border: none;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.808);
}
.reset{
    background-color: red;
}
.reset:hover{
    background-color: rgba(255, 0, 0, 0.705);
}
.current-time{
    position: absolute;
    right: 0;
    padding: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: larger;
}
.reset,.stop{
    display: none;
}
.clock{
    background-color: darkgray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: auto;
    transition: 0.2s;
}
.clock:hover{
    transform: translateY(-5px);
    transition: 0.2s;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    z-index: 999; /* Ensure the overlay covers everything */
    pointer-events: all; /* Allow the overlay to block interactions */
}
.board{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: aliceblue;
    gap: 10px;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 9999;
    font-size: x-large;
}
.window{
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px; 
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 25px;
}
.boardInput{
    margin: 10px 20px;
    border-radius: 5px;
    height: 25px;
    background-color: rgba(128, 128, 128, 0.432);
    border: none;
}
.boardInput:focus{
    background-color: white;
    color: black;
}
.boardBtns{
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 15px;
}
.board-section{
    display: flex;
    justify-content: space-evenly;
}
.board-options{
    display: grid;
    gap: 10px;
    padding: 10px;
}
.board-option{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 15px;
}
.custom-options{
    display: none;
}
.custom-time{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.custom-time-h, .custom-time-m, .custom-time-s{
    width: 50px;
}
.header p{
    font-weight: bold;
}
.board-option:hover{
    background-color:darkslategray;
}
.boardBtn, .ready-option, .custom-option{
    font-size: large;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 20px;
    cursor: pointer;
}
.ready-option:hover , .custom-option:hover{
    background-color: rgb(124, 122, 122);
 }
.timing{
    background-color: aliceblue;
    color: black;
    padding: 10px 20px;
}
.headerBtn{
    background-color: transparent;
    border-radius: 15px;
    padding: 5px 10px;
    border: 2px solid;
}
.headerBtn:hover{
    background-color: gray;
}
.boardBtn:hover{
    background-color: rgb(48, 48, 48);
    transition: 0.2s;
}
.functions{
    position: sticky;
    bottom: 20px;
    margin: 20px;
    margin-left: auto;
    width: fit-content;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    box-shadow: 1px 5px 20px black;
    background-color: darkslategray;
}
.add {
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    aspect-ratio: 1/1;
    transition: 0.2s;
}
.add:hover{
    transform: translateY(-5px);
    transition: 0.2s;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header p{
    margin: 0.5em;
}
.Eheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.EheaderBtn{
    color: white;
    background-color: rgb(163, 5, 5);
    border: none;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
}
.EheaderBtn:hover{
    background-color: rgb(230, 45, 45);
    transition: 0.2s;
}
.fullscreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(2.5);
    z-index: 999;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 450px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layer{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: all;
}