body{
  color: darkslategrey;
  font-family: math;
  width: 100%;
}
.App {
  margin:  auto;
  min-width: 350px;
  padding: 20px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-control{
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  min-width: 350px;
}

@import url('/my-app/styles.css');

.addBtn {
  background-color: var(--text-color);
  color: white;
  font-size: xx-large; /* can be removed if using only image */
  border: none;
  border-radius: 10px;
  padding: 0;
  width: 40px; /* slightly bigger for padding */
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBtn img {
  width: 25px;
  height: 25px; 
}

.addBtn:hover{
    opacity: 0.7;
    cursor: pointer;
}

.taskName{
  width: 100%;
  padding: 10px 5px;
  border: none;
  transition: 0.2s;
  border-radius: 10px;
}

.taskName:focus{
  outline: none;
  transition: 0.2s;
}

.list{
  min-width: 350px;
  list-style: none;
  padding: 0;
  max-height: 60vh;
  overflow-y: scroll;
  
}

.list {
  /* Modern browsers */
  scrollbar-width: thin;
  scrollbar-color: var(--background-color) var(--secondary-bg);
}

.item div{
  display: flex;
  gap: 0 10px;
  height: fit-content;
}

.item div *{
  margin: 0;
} 

.item{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid;
  border-radius: 12px;
}

.delBtn:hover{
  cursor: pointer;
  border-radius: 50%;
  background-color: lightgray;
}

.doneList{
  padding: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  display: none;
  min-width: 350px;
}

.done{
  cursor: pointer;
  padding: 0;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0);
}
